.resizable-overlay:hover .cancel-icon {
  display: block !important;
}

.react-resizable-handle {
  visibility: none;
}

.overlayed-input-container {
  display: inline-block;
}

.overlayed-input-mirror {
  position: absolute;
  visibility: hidden;
  white-space: pre;
}

.persona-iframe {
  @apply flex justify-center items-center;
}

.persona-iframe > iframe {
  @apply w-full h-screen md:w-[400px] md:h-[650px];
}
